<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
		*{
			margin: 0px;
			padding: 0px;

		}
		#absent{
			width: 100px;
			border-radius: 33px;
		}
		tr:nth-child(odd){
			background-color: #4dffb8;
		}


</style>

</head>
<body>
<div class="container">

	<table class="table table-hover">

  <thead>
    <tr style="background-color:white; ">
      <th scope="col">Roll No</th>
      <th scope="col">Student Name</th>
      <th scope="col">
      Attedance
      </th>
      <input type="hidden" name="n" value="{{n}}">
      <input type="hidden" name="classId" value="{{classId}}">
    </tr>
  </thead>
  <tbody>
  {% for i,j in data %}
    <tr>

      <td>{{j.rollno}}</td>
      <td>{{j.name}}</td>
      <td>
          <input type="hidden" name="roll{{i}}" value="{{j.rollno}}">
                <input type="hidden"  id="absen{{i}}" name="absent{{i}}"  value="Absent"  >

        <input type="button"  id="absent{{i}}"  class =" btn btn-danger" value="Absent" onclick="change(this,{{i}})" >

      </td>
    </tr>
  {% endfor %}
  <tr style="background-color:white; ">
    <td></td>
    <td><input class="btn btn-primary" type="submit" value="Submit Attendance" onclick="return confirm('Are you sure  want to submit attendance?')"></td>
  </tr>

  </tbody>

</table>

</div>







</body>
</html>