
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ManageTest</title>
  </head>
  <body style="background-color:#d9d9d9;">
   <div class="container">
    <h2>Question Details</h2>

 <form method = "POST">
     {% csrf_token %}
     <div class="form-group row">
    <label for="QuestionStatement" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Question Statement	</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="question" class="form-control" id="QuestionStatement" placeholder="Question Statement" required>
    </div>
  </div>


  <div class="form-group row">
    <label for="Optiona" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Option a	</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="option_a" class="form-control" id="Optiona" placeholder="Option a" >
    </div>
  </div>

    <div class="form-group row">
    <label for="Optionb" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Option b</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="option_b" class="form-control" id="Optionb" placeholder="Option b" required>
    </div>
  </div>

    <div class="form-group row">
    <label for="Optionc" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Option c	</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="option_c" class="form-control" id="Optionc" placeholder="Option c" required>
    </div>
  </div>

    <div class="form-group row">
    <label for="Optiond" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Option d	</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="option_d" class="form-control" id="Optiond" placeholder="Option d" required>
    </div>
  </div>


     <div class="form-group row">
    <label for="Subject" class="col-12 col-sm-2 col-md-2 col-lg-2 col-form-label">Subject:	</label>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
      <input type="text" name="subject" class="form-control" id="Subject" placeholder="Subject" required>
    </div>
  </div>



    <div class="row">
       <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <legend class="col-form-label  pt-0">Correct Answer</legend>
        </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="correct_answer" id="a" value="a" >
          <label class="form-check-label" for="a">
            a
          </label>
          </div>
          <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" name="correct_answer" id="b" value="b" >
          <label class="form-check-label" for="b">
            b
          </label>
          </div>
          <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" name="correct_answer" id="c" value="c" >
          <label class="form-check-label" for="c">
            c
          </label>
          </div>
          <div class="form-check form-check-inline">

                    <input class="form-check-input" type="radio" name="correct_answer" id="d" value="d" >
          <label class="form-check-label" for="d">
            d
          </label>
          </div>






        </div>


      </div>




  <div class="form-group row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
      <button type="submit" class="btn btn-primary mt-5">Create</button>
    </div>
  </div>
</form>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



