
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ManageTest</title>
      <style>

          	   #italic{font-family:italic;
          	   margin-bottom:30px;
          	   }
      </style>
  </head>
  <body style="background-color:#d9d9d9;">
   <div class="container">

    <div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12" align="center">
      <h1 id="italic">Manage Quiz</h1>
  </div>
    </div>

    <div class="row justify-content-center">
  <div class="col-12 col-sm-6 col-md-3 col-lg-3" align="center">
      <a href="{% url 'addManageQuestion' %}">
          {% load static %}
      <img width="60%" height="60%" src="{% static 'media/questionsimage.jpg' %}" class="img-thumbnail mt-4" alt="manageQuestion"><br>
          <h6>Manage Question</h6>
         </a>

  </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3" align="center">
      <a href="{% url 'addManageTest' %}" class="justify-content-center">
          {% load static %}
      <img width="47%" height="40%" src="{% static 'media/testimage - Copy.jpg' %}" class="img-thumbnail mt-4 " alt="manageQuestion"><br>
          <h6>Manage Test</h6>
         </a>

  </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3" align="center">
      <a href="{% url 'viewQuestion' %}" class="justify-content-center">
          {% load static %}
      <img width="60%"  src="{% static 'media/viewimage - Copy.png' %}" class="img-thumbnail mt-4" alt="manageQuestion"><br>
          <h6>View Question</h6>
         </a>

  </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3" align="center">
      <a href="{% url 'viewTestPaper' %}" class="justify-content-center">
          {% load static %}
      <img width="50%" src="{% static 'media/testpaperslistimage.jpg' %}" class="img-thumbnail mt-4" alt="manageQuestion"><br>
          <h6>View Test</h6>
         </a>

  </div>
</div>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
